<html>
        <head>
            {% block inhead %}
            {%endblock%}
                <title>
                   {% block name %}
                   {{ name }}
                   {% endblock %}
                </title>

        
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" href="/static/css/black-tie/jquery-ui-1.8.9.custom.css" rel="Stylesheet" />   
	<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script> 
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.9.custom.min.js"></script> 

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/static/Blueprint/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/Blueprint/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->


</head>

        <body>
	{{message}}
                {% block content %}
                hello, world
                {% endblock %}

        </body>
</html>

