{% extends 'base.html' %}

{% block content %}

<script type="text/javascript"> 	$(document).ready(function(){



		//cupspread buttonset
		$(".blackradio").buttonset({
		});

		$("#adminbox").hide()


		$("#admin").click(function(event){
			$("#adminbox").show('slow')
		});

		$("#player").click(function(event){
			$("#adminbox").hide()
			$("#email").val("")
			$("#password").val("")
			$("#password2").val("")
		});
		
		
		$("button, input:submit, a", ".blackbuttons").button();

		var myCars=new Array("Saab","Volvo","BMW");
  	 	
		
});


	</script>



  <body class="gray">
  
    



<div class="container showgrid black tall">
	<img src= "static/images/king.jpg"> 
	<div class="span-24" id="nav">
		<ul class="clearfix"> 
		<li id="recordgame"> <a href='/addgame/'> Record Game </a> </li>
		<li id="rank" > <a href=#> Rank </a> </li>
		<li id="addplayer"> <a href=#> Add Player </a> </li>
		<li id="more"> <a href=#> More </a> </li>
		</ul>
	<hr>
	</div>


	<form method="post"> {% csrf_token %}
	<fieldset class= "span-7 winbox ui-corner-all"> <legend> Player Information </legend>
		<p> First Name* </p>
		<input id="firstname" name="firstname" type="text"> </input>
		<p> Last Name* </p>
		<input id="lastname" name="lastname" type="text"> </input>
		<hr>
		<p> Does this person want to be able to record games?</p>
		<div class="blackradio" style="height:50px; padding:10px 0 0 50px"> 
			<input type="radio" name="admin" id="admin" value="1"><label for="admin"> Admin </label> </input>
			<input type="radio" name="admin" id="player" value="0"CHECKED><label for="player"> Player </label> </input>
		
		</div>
		
		
		
	</fieldset>


	
	<fieldset id="adminbox" class= "span-7 winbox ui-corner-all"> <legend> Admin Information </legend>
		<p> Email* </p>
		<input id="email" name="email" type="text"> </input>
		<p> Password* </p>
		<input id="password" name="pw"  type="text"> </input>
		<p> Retype password*
		<input id="password2" type="text"> </input>

		
	</fieldset>


	
	<hr>
	<span class="blackbuttons "><input type="submit" value="Submit"></input></span>


	
	
	</form>
	<br>
	<br>

	
  </body>
  </div>
</html>

{% endblock %}
