<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html lang="en">
    <head>
    <title>{%block title %}title{% endblock %} | ThePongKing</title>
    
    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
	 
    <!--CSS -->
    <link rel="stylesheet" href="/static/css/pongking.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print">
    <link type="text/css" href="/static/css/black-tie/jquery-ui-1.8.9.custom.css" rel="Stylesheet" />  
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
    {% block css %}{% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script> 
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
	{# TODO upgrade to jQuery 1.5? (ps this is how you do a django comment -Riley #}
	{% block javascript %}{% endblock %}
	
    </head>
    <body>
        <div class="container showgrid black tall">
	        <img src= "/static/images/king.jpg" /> 
	        <div class="span-24" id="nav">
		        <ul class="clearfix"> 
		        <li id="recordgame"> <a href=#> Record Game </a> </li>
		        <li id="rank" > <a href=#> Rank </a> </li>
		        <li id="addplayer"> <a href=#> Add Player </a> </li>
		        <li id="more"> <a href=#> More </a> </li>
		        </ul>
	            <hr/>
	        </div>
	        {{message}}
            {% block content %}
                content
            {% endblock %}
        </div><!-- end container -->
    </body>
</html>

