
{% block navbar %}

<div class="container showgrid black tall">
	<img src= "/static/images/king.jpg"> 
	<div class="span-24" id="nav">
		<ul class="clearfix"> 
		<li id="recordgame"> <a href='/addgame/'> Record Game </a> </li>
		<li id="rank" > <a href=#> Rank </a> </li>
		<li id="compareplayers" > <a href=#> Compare Players </a> </li>
		<li id="compareteams" > <a href=#> Compare Teams </a> </li>
		<li id="addplayer"> <a href='/addplayer/'> Add Player </a> </li>
		<li id="more"> <a href=#> More </a> </li>
		</ul>
	<hr>
	</div>


{%endblock %}

